# Игнорировать виртуальное окружение
.venv/
_venv_/
venv/

# Игнорировать файл uv.lock
uv.lock

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать локальные настройки VS Code
.vscode/

# Игнорировать скрытые файлы
.DS_Store

game2.cast

demo.cast